__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

tests/.tmp/
data/.cache/
data/**/.cache/
data/gsm8k/temp.py
*.listing
*.aux
*.log
*.out
*.toc

.DS_Store
Thumbs.db
